<% include ../partials/header %>
 
<div class="container">
  <div class="row">
      <h1>Editing <%= campground.name %></h1>
    <div id="frm">
    <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
      <div class="form-group">
        <input class="form-control" type="text"  name="campground[name]" value="<%=campground.name%>">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="campground[image]" value="<%=campground.image %>">
      </div>
       <div class="form-group">
        <input class="form-control" type="text" name="campground[description"] value="<%=campground.description%>">
      </div>
      <div class="form-group">
        <button class="btn btn-block btn-lg btn-primary">submit</button>
      </div>
      <a id="back" href="/campgrounds">GO BACK</a>
    </form>
      </div>
  </div>
</div>


<style>
  #back{
    color:#0A044D;
  }
  .btn{
    color:#0A044D;
  }
   h1{
    text-align:center;
  }
  #frm{
    width:30%;
    margin:25px auto;
    border-radius:2px solid red;
  }

</style>