<% include ../partials/header %>
<h1><%= campground.name %></h1>

<img src="<%= campground.image %>" >

<h3><%= campground.description %></h3>

<a class="btn btn-lg btn-primary" href="/campgrounds/<%= campground._id %>/comments/new">add comment</a>

<% campground.comments.forEach(function(comment){ %>
 <p>
  <strong><%= comment.author.username %></strong> - <%= comment.text %>
 </p>
<% }); %>